h1,span,div,a {
	font-family:Arial;
}


div#_3line{
	font-size: 25px;
}

#duration{
	font-size: 25px;
	color: red;	
}


span._3lineContent{
	position: absolute;
	left: 200px;
	color:blue;
	font-family:Courier;
}


.info_refresh{
	color: blue;
	font-size: 16px;
	font-family:"Times New Roman";
}


.widelineDiv{
	width: 70%;
	display:inline-block;/*inline-block can keep height and width within the element, while `inline` along will lose these attributes*/
        background-color: black; /*big background*/
	height: 900px;
}

.inlineDiv{
	width: 32%;
	display:inline-block;/*inline-block can keep height and width within the element, while `inline` along will lose these attributes*/
}
.subsubtitle{
	font-family:Arial;
	font-size:25px;
	/*overflow:scroll;*/
	height: 150px;
	background-color: black;
	color: #99CCFF; /*white;*/
	
}
.subtitle{
	font-family:Arial;
	font-size:25px;
	overflow:scroll;
	height: 900px;
	background-color: black;
	color: #99CCFF; /*white;*/
	
}


#engBox{
  	color:#CCFF99;
}

#bslBox{
	color:white;
}

/*
#chnLine{
	font-family: 'Courier';
	font-size: 20;
}

#pynLine, #wrdLine{
	font-family: 'Times';
	font-size: 14;
}
*/
span.modelMsg{
	color: red;
}
span.bracket{
	font-size: 25px;
}


