<!DOCTYPE HTML>

<html>
	<head>
		<title>Web Server for Simultanous Translator</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../static/css/interface.css">
        <script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type=text/javascript>
            var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
	</head>

	<body>
        
            <h1 id="pageTitle">Web Server for Simultanous Translator (<span class="modelMsg">{{model}}</span>)</h1>

            
            <!--<form action="/action_go.phdiv>">-->

        
            <button type="button" id="startBtn"> Start </button>
            <button type="button" id="stopBtn"> Stop </button>
           <br>
           
           <span id="modelLoadingMsg"></span>     <span id="duration"></span>

        

        <div>cpu:  <span class='info_refresh' id='cpu'></span></div>
        <div>ram:  <span class='info_refresh' id='ram'></span></div>
        <div>time: <span class='info_refresh' id='time'></span></div>

        

        <div id="_3line">
            <p>Chinese:<span id="chnLine" class="_3lineContent"></span>
            <p>Pinyin: <span id="pynLine" class="_3lineContent"></span>
            <p>Word-by-Word:<span id="wrdLine" class="_3lineContent"></span>
        </div>

            <br>
        <h1 id="pageTitle">Simultanous Translator (<span class="modelMsg">{{model}}</span>)</h1>
        <div class="bigDIV">
            <div class="widelineDiv">
                <!--Chinese input( <span class="modelMsg bracket">asr</span> )<p>-->
                <!--Chinese input<p>-->
                <div id="DispBox" class="subtitle">
                 
                </div>
            </div>


          </div>
        
         <a id="link">link</a>         
          </div>
        




        <!--
        <script type=text/javascript>
          $(function() {
            $('a#calculate').bind('click', function() {
              $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
                a: $('input[name="a"]').val(),
                b: $('input[name="b"]').val()
              }, function(data) {
                $("#result").text(data.result);
                $('input[name=a]').focus().select();
              });
              return false;
            });
          });
        </script>
        -->




    <script src="../static/js/jquery.min.js"></script>        
	<script src="../static/js/interface_line.js"></script>
       </body>
</html>

