<!DOCTYPE HTML>

<html>
	<head>
		<title>Web Server for Simultanous Translator</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../static/css/interface.css">
        <script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type=text/javascript>
            var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
	</head>

	<body>
        
            <h1 id="pageTitle">Web Server for Simultanous Translator (<span class="modelMsg">{{model}}</span>)</h1>

            
            <!--<form action="/action_go.phdiv>">-->

        
            <button type="button" id="startBtn"> Start </button>
            <button type="button" id="stopBtn"> Stop </button>
           <br>
           
           <span id="modelLoadingMsg"></span>     <span id="duration"></span>

        

        <div>cpu:  <span class='info_refresh' id='cpu'></span></div>
        <div>ram:  <span class='info_refresh' id='ram'></span></div>
        <div>time: <span class='info_refresh' id='time'></span></div>

        

        <div id="_3line">
            <p>Chinese:<span id="chnLine" class="_3lineContent"></span>
            <p>Pinyin: <span id="pynLine" class="_3lineContent"></span>
            <p>Word-by-Word:<span id="wrdLine" class="_3lineContent"></span>
        </div>

            <br>
        <h1 id="pageTitle">Simultanous Translator (<span class="modelMsg">{{model}}</span>)</h1>
        <div class="bigDIV">
            <div class="widelineDiv">
                <span>dfasdf</span>
                <!--Chinese input( <span class="modelMsg bracket">asr</span> )<p>-->
                <!--Chinese input<p>-->
                <div id="chnBox" class="subsubtitle">戴安娜王妃在1997年死于一场巴黎车祸。法国警方经过两年的调查认为汽车失控的原因是司机喝酒并且服用药物。有人一直怀疑出货并不是直接的死亡原因。皇家官员在2004年决定继续追查相关的证据。</div>
                <div id="engBox" class="subsubtitle">the princess was killed in a car accident in paris in 1997. after two years of investigation, the french police believed that the car was the cause of the accident, and the driver was drinking and taking the medicine. some people have always been suspected of the causes of the accident and the death of the people. officials in 2004 decided to continue the investigation of the relevant evidence.</div>
            </div>

        
       </div>
         <a id="link">link</a>         
        




        <!--
        <script type=text/javascript>
          $(function() {
            $('a#calculate').bind('click', function() {
              $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
                a: $('input[name="a"]').val(),
                b: $('input[name="b"]').val()
              }, function(data) {
                $("#result").text(data.result);
                $('input[name=a]').focus().select();
              });
              return false;
            });
          });
        </script>
        -->




    <script src="../static/js/jquery.min.js"></script>        
	<script src="../static/js/interface_line_bulk.js"></script>
       </body>
</html>

